* {
    margin: 0;
    padding: 0;
}

body {
    background-color:lightcyan;
}

.container {
    width: 800px;
    height: 500px;
    margin-top: 20px;
    padding-left: 40em;
    text-align: left;
    align-items: center;
    
}

.carousel-inner , li{
    list-style: none;    
    position: absolute;
    padding-bottom: 2em;
    
}

.titulo {
   padding-top: 30px;
    padding-left: 50px;
    text-align: center;
    padding-bottom: 10px;
    font-size:10vw;
}

.formasdepagamento {
    text-align: left;
    padding-bottom: 100px;
    padding-left: 30em;
    
}

.formasdepagamento .lista {
    text-align: left;
    flex-direction: row;
}

.destino {
    text-align: left;
    padding-left: 30em;
    padding-bottom: 40px;
    background-color: whitesmoke;

}

.locais {
    padding-left: 30em;
    margin: auto;
    text-align: left;
    padding-bottom: 10px;
    background-color: whitesmoke;
}

.compras {
    text-align: left;
    padding-left: 30em;
    padding-bottom: 100px;
    background-color: whitesmoke;
}





/* --------------------------------------------------------------------- */



/* RESPONSIVE */

@media only screen and (min-width: 320px) {
    .formasdepagamento {
        text-align: left;
        padding-bottom: 30px;
        padding-left: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
    }

    .formasdepagamento .lista {
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }


    .destino {
        padding-top: 80px;
        text-align: left;
        padding-left: 10px;
        padding-bottom: 20px;
        background-color: whitesmoke;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }

    .destino p {
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }


    .locais {
        padding-left: 10px;
        margin: auto;
        text-align: left;
        padding-bottom: 20px;
        background-color: whitesmoke;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       
    }

    .locais p {
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }


    .titulo {
        padding-top: 5px;
         padding-left: 10px;
         text-align: center;
         padding-bottom: 20px;
         max-width: 50%;
         
     }

     .titulo h1 {
        text-align: center;
        padding-left: 50px;
        font-size: 40px;
        text-transform: uppercase;
        white-space: nowrap;
    }

     .titulo img {
        width: 1100px;

     }

     .compras {
        text-align: left;
        padding-left: 10px;
        padding-bottom: 20px;
        background-color: whitesmoke;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


    .compras p {
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }


    .container {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        flex-basis: auto;
    }

    .container p {
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

}


/* --------------------------------------------------------------------- */


@media only screen and (min-width: 720px) {

    .formasdepagamento {
        text-align: left;
        padding-bottom: 10px;
        padding-left: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
    }
    
    .formasdepagamento .lista {
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .destino {
        padding-top: 100px;
        text-align: left;
        padding-left: 10px;
        padding-bottom: 40px;
        background-color: whitesmoke;      
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    
    }

    .destino p {
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .destino img {
        width: 750px;     
    
    }

    .locais {
        padding-left: 10px;
        margin: auto;
        text-align: left;
        padding-bottom: 10px;
        background-color: whitesmoke;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
       
    }

    .locais img {
        width: 750px;
       
    }

    .locais p {
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .titulo {
        padding-top: 5px;
         padding-left: 10px;
         text-align: center;
         padding-bottom: 10px;
         max-width: 50%;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
         
     }

     .titulo img {
        width: 750px;
         
     }

     .titulo h1 {
         text-align: center;
         padding-left: 100px;
         font-size: 40px;
         
         
     }

     .compras {
        text-align: left;
        padding-left: 10px;
        padding-bottom: 10px;
        background-color: whitesmoke;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    }

    .compras img {
        width: 750px;
    }

    .compras p {
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .container {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .container p {
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

/* --------------------------------------------------------------------- */



@media only screen and (min-width: 1200px){

    .formasdepagamento {
        text-align: left;
        padding-bottom: 10px;
        padding-left: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        
    }


    .formasdepagamento .lista {
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }


    .destino {
        padding-top: 100px;
        text-align: left;
        padding-left: 10px;
        padding-bottom: 40px;
        background-color: whitesmoke;  
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    
    }

    .destino img {
        width: 1100px;     
    
    }

    .destino p {
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .locais {
        padding-left: 10px;
        margin: auto;
        text-align: left;
        padding-bottom: 10px;
        background-color: whitesmoke;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       
    }

    .locais p {
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .locais img {
        width: 1100px;
       
    }

    .titulo {
        padding-top: 5px;
         padding-left: 10px;
         text-align: center;
         padding-bottom: 10px;
         max-width: 50%;
         
     }

     .titulo img {
        width: 1100px;
         
     }

     .titulo h1 {
         text-align: center;
         padding-left: 200px;
         font-size: 30px;
         
     }

     .compras {
        text-align: left;
        padding-left: 10px;
        padding-bottom: 10px;
        background-color: whitesmoke;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .compras img {
        width: 1100px;
    }

    .compras p {
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .container {
        width: 800px;
        height: 500px;
        margin-top: 20px;
        padding-left: 40em;
        text-align: left;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        
    }

    .container p {
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .container img {
        width: 800px;
    }

}

}